# Dependencies
node_modules/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# IDE - VSCode
.vscode/

# System Files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
tmp/

# OpenVPN related
*.ovpn

# npm package files
package-lock.json

# Log files
logs/
*.log